.housing-details {
    display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        gap: 1.5rem;

    .top-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        
    }
}



