.housing-description-container {
    display: flex;
    flex-direction: column;
    width: 47%;
    height: auto;

    .collapse-header {
        gap: 1.5rem;
        padding-inline: 1rem;
    }
    
    .housing-description-p {
        font-weight: 400;
        font-size: 18px;
        line-height: 143%;
        color: #000;
        padding: 2rem;
        height: auto;
    }
}

.housing-equipments-container {
    display: flex;
    flex-direction: column;
    width: 47%;
    height: auto;

    .housing-equipments-list {
        display: flex;
        flex-flow: column wrap;
        font-weight: 400;
        font-size: 18px;
        line-height: 143%;
        color: #000;
        padding: 2rem;
    }
}

@media screen and (width <=425px) {
    .collapse-header-title {
        font-size: 13px !important;
    }

    .collapse-header-icon {
        font-size:16px !important;
    }

    .housing-equipments-list {
        font-size: 12px !important;
    }

    .housing-description-p {
        font-size: 12px !important;
    }
    
}
   
    