.collapse-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    height: 52px;
    background-color: #FF6060;
    padding-inline: 1rem;
    border-radius: 10px;

    .collapse-header-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 143%;
        color: #FFF;
    }
    
    .collapse-header-icon {
        font-size: 24px;
        color: #FFF;
    }
}

    .collapse-content {
        background-color: #F6F6F673;
    }



.housing-description-container {
    display: flex;
    flex-direction: column;
    width: 47%;
    height: auto;

    .housing-description-p {
        font-weight: 400;
        font-size: 18px;
        line-height: 143%;
        color: #000;
        
    }
}

.housing-equipments-container {
    display: flex;
    flex-direction: column;
    width: 47%;
    height: auto;

    .housing-equipments-list {
        display: flex;
        flex-flow: column wrap;
        font-weight: 400;
        font-size: 18px;
        line-height: 143%;
        color: #000;
    }
}


@media screen and (width <= 1350px) {
    .collapse-header-title {
        font-size: 16px;
    }

    .housing-description-p {
        font-size: 16px !important;
    }
}    

@media screen and (width <=425px) {
    .collapse-header-title {
        font-size: 13px !important;
    }

    .collapse-header-icon {
        font-size:16px !important;
    }

    .housing-equipments-list {
        font-size: 12px !important;
    }

    .housing-description-p {
        font-size: 12px !important;
    }
    
}
   
    