.not-found-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    gap: 5rem;

    .not-found-h2 {
        font-weight: 700;
        font-size: 18rem;
        line-height: 143%;
        text-align: center;
        vertical-align: middle;
        color: #FF6060;
    }

    .not-found-h3 {
        font-weight: 500;
        font-size: 2.25rem;
        line-height: 143%;
        vertical-align: bottom;
        color: #FF6060;
    }

    .not-found-link {
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 143%;
        vertical-align: bottom;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-thickness: 0%;
    }
}

@media screen and (width <= 1024px) {
    .not-found-container {
       height: auto;
    }

    .not-found-h2 {
        font-size: 10rem !important;
    }

    .not-found-h3 {
        font-size: 2rem !important;
        text-align: center;
    }

    .not-found-link {
        font-size: 1rem !important;
        
    }

}

@media screen and (width <= 425px) {
    .not-found-h2 {
        font-size: 6rem !important;
    }

    .not-found-h3 {
        font-size:1.125rem !important;
        width: 260px;
        height: 52px;
    }  
    
    .not-found-link {
        font-size: 0.875rem !important;
       
    }
}