.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .header-navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .header-navbar-ul {
            display: flex;
            align-items: center;
            gap: 4rem;
            font-size: 1.5rem;
            font-weight: 500;

            .nav-link {
                text-decoration: none;
                &:hover,
                &:active,
                &.active {
                    text-decoration: underline;
                }
            }
        }      
    }
}


@media screen and (width <= 768px) {
    .header-navbar-ul {
        font-size: 12px !important;
        font-weight: 500 !important;
        text-transform: uppercase !important;   
        gap: 2rem !important;
    }

    .header-navbar-logo {
        width: 145px !important;
        height: 47px !important;
    }
}

@media screen and (width <= 375px) {
    .header-navbar {
        justify-content: space-around !important;
    }
}
